.header {
  height: 120px;
  background-image: linear-gradient(0, #ee4d2d, #f53e2d);
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__navbar--list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}
.header__navbar--item {
  margin: 0px 8px;
  position: relative;
  min-height: 26px;
}
.header__navbar--item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}
.header__navbar-item:hover,
.header__navbar--item:hover,
.header__navbar-item-link:hover {
  cursor: pointer;
  color: rgb(255, 255, 255, 0.7);
}
.header__navbar--item--strong {
  font-weight: 300;
}
.header__navbar--item--separate:after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  width: 1px;
  height: 14px;
  right: -9px;
  top: 30%;
  transform: translateY(-50%);
}
.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.header__navbar-title--no-poiter {
  cursor: text;
  color: var(--white-color);
}
.header_qr {
  width: 186px;
  top: 100%;
  left: 0;
  padding: 6px;
  background-color: var(--white-color);
  border-radius: 4px;
  position: absolute;
  display: none;
  animation: fadeIn 0.3s ease-in;
}
.header_qr::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  display: block;
  top: -16px;
  left: 0;
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}
.header__qr-link:first-child {
  margin-left: 11px;
}

.header__qr-link:nth-child(2) {
  margin-right: 11px;
}
.header__qr-img {
  width: 100%;
}
.header__qr-down-img {
  height: 16px;
}
.header__navbar--item--has-qr:hover .header_qr {
  display: block;
}
.header__navbar--item--has-notify:hover .header__notify {
  display: block;
}
/* header notification  */
.header__notify {
  position: absolute;
  top: 118%;
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: default;
  animation: headerNotifyGrowth 0.2s ease-in;
  transform-origin: calc(100%-20px) top;
  display: none;
}
.header__notify::before {
  content: "";
  border-style: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -30px;
  right: 14px;
}
.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 20px;
  right: 0;
  top: -16px;
}
@keyframes headerNotifyGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}
.header__notify-header h3 {
  color: #999;
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  margin: 0 0 0 12px;
}
.header__notify-list {
  padding-left: 0px;
}
.header__notify-item {
}
.header__notify-item:hover {
  background-color: #f8f8f8;
}
.header__notify-item--viewed {
  background-color: rgb(238, 77, 43, 0.09);
}
.header__notify-link {
  width: 100%;
  padding: 12px;
  display: flex;
  text-decoration: none;
}
.header__notify-img {
  object-fit: contain;
  width: 48px;
}
.header__notify-infor {
  margin-left: 12px;
}
.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.8rem;
}
.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  padding-top: 10px;
  line-height: 1.4rem;
  margin-top: 4px;
}
.header__notify-seeAll {
  display: flex;
  padding: 16px;
}
.header__notify-seeAll-btn {
  text-decoration: none;
  color: var(--black-color);
  padding: 8px 48px;
  margin: auto;
  font-size: 1.4rem;
  font-weight: 400;
}
