.header {
  height: 120px;
  background-image: linear-gradient(0, #ee4d2d, #f53e2d);
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__navbar--list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}
.header__navbar--item {
  margin: 0px 8px;
  position: relative;
  min-height: 26px;
}
.header__navbar--item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}
.header__navbar-item:hover,
.header__navbar--item:hover,
.header__navbar-item-link:hover {
  cursor: pointer;
  color: rgb(255, 255, 255, 0.7);
}
.header__navbar--item--strong {
  font-weight: 400;
}
.header__navbar--item--separate:after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  width: 1px;
  height: 14px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}
.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.header__navbar-title--no-poiter {
  cursor: text;
  color: var(--white-color);
}
.header_qr {
  width: 186px;
  top: 100%;
  left: 0;
  padding: 6px;
  background-color: var(--white-color);
  border-radius: 4px;
  position: absolute;
  display: none;
  animation: fadeIn 0.3s ease-in;
}
.header_qr::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  display: block;
  top: -16px;
  left: 0;
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}
.header__qr-link:first-child {
  margin-left: 11px;
}

.header__qr-link:nth-child(2) {
  margin-right: 11px;
}
.header__qr-img {
  width: 100%;
}
.header__qr-down-img {
  height: 16px;
}
.header__navbar--item--has-qr:hover .header_qr {
  display: block;
}
